<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio de KAVITA Germain</title>
        <link rel="stylesheet" type="text/css" href="/css/portfolio2.css">
        <link rel="stylesheet" type="text/css" href="/css/portfolio1.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700" rel="stylesheet">

</head> 
<body>
    <div id="bloc">
        <div id="bloc1">
            <header>
                <div class="wrap">
                    <ul>
                        <li>Qui suis je ?</li>
                        <li>Projets</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </header>
            
            <div class="wrap-t">
                    <div id="title">
                       <div class="wrap-title2">
                            <p>Bienvenue sur le<p>
                            <h1>Portofolio de
                            KAVITA Germain</h1>
                        </div>
                    </div>

                   
            </div>
                
            
        </div>
    </div>
        <div id="bloc2">
            <div class="wrap-title-bloc">
                <h2>Qui suis je ?</h2>  
            </div>
            <div class="wrap-bloc2-gauche">
               <div class="wrap-side2">
                   <div class="sphere-img">
                       <img class="profil" src="../img/cainff.jpg">
                   </div>
                   
               </div>
               <div class="wrap-side3">
                   <p>KAVITA</p>
                   <p>Germain</p>
                   <p>Développeur Web</p>
                   <p>30 Avril 1993</p>
                   <p>France</p>
               </div>
                
            </div>
               
            <div class="wrap-bloc2-droite">
                <div class="wrap-side">
                    <p class="presentation">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reprehenderit doloremque alias sequi, hic fugit dolore sit nulla non asperiores labore, quam laboriosam modi veritatis necessitatibus repellendus. Magni, sit, eveniet.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reprehenderit doloremque alias sequi, hic fugit dolore sit nulla non asperiores labore, quam laboriosam modi veritatis necessitatibus repellendus. Magni, sit, eveniet.</p>
                </div>
                
            </div>
        </div>
        
        <div id="bloc3">
            <div class="wrap-title-bloc">
                <h2>Mes Projets</h2>
            </div>
            <div class="wrap-project">
               <div class="wrap-grid">
                   <div class="project">
                      <a href="#">
                       <img src="../img/play.png">
                      </a> 
                   </div>
                   <div class="project">
                       <a href="#">
                       <img src="../img/play.png">
                      </a>
                   </div>
                   <div class="project">
                       <a href="#">
                       <img src="../img/play.png">
                      </a>
                   </div>
               </div>
               <div class="wrap-grid">
                   <div class="project">
                       <a href="#">
                       <img src="../img/play.png">
                      </a>
                   </div>
                   <div class="project">
                       <a href="#">
                       <img src="../img/play.png">
                      </a>
                   </div>
                   <div class="project">
                       <a href="#">
                       <img src="../img/play.png">
                      </a>
                   </div>
               </div>
                
            </div>
        
        </div>
        
        <footer>
            <div class="contact">
                <p>KAVITA Germain</p>
                <p>Développeur Web</p>
                <p>Germainkav@gmail.com</p>
            </div>
        </footer>
    
              
  
   
   
   
    
    

    
    <script src="/js/portfolio.js"></script>
    
  
</body>
</html>